configuration {
    modes: "drun,filebrowser,window,run";
    show-icons: true;
    window-format: "{w}{t}";
    font: "Inter Medium 15";
}

// @theme "~/.config/rofi/theme.rasi"

inputbar {
    children: [entry];
}
